.sale-graph text.recharts-text.recharts-cartesian-axis-tick-value {
    fill: #868686;
    font-size: 14px;
    font-family: "Segoe UI",Arial,sans-serif;
 }

p{
    font-family: "Segoe UI",Arial,sans-serif;
}